<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Power Law</h1>
        <table style="text-align:right; border: 1px solid black">
            <tr>
                <th style="border: 1px solid black">Years From Now</th>
                <th style="border: 1px solid black">Model Price</th>
                <th style="border: 1px solid black">Total Change %</th>
                <th style="border: 1px solid black">Annualised Change %</th>
            </tr>
        {{#prices}}
            <tr>
                <td style="text-align:center; border: 1px solid black">{{ year }}</td>
                <td style="border: 1px solid black">${{ price }}</td>
                <td style="border: 1px solid black">{{ totalChange }}%</td>
                <td style="border: 1px solid black">{{ annualisedChange }}%</td>
            </tr>
        {{/prices}}
        </table>
    </body>
</html>
